{% extends "base.html" %}

{% block content %}

    <h1>Welcome to Rock Paper Scissors</h1>
    <h3>Please pick your game type</h3>
    <ul>
        <div>
            <li><a href="/pvp1">Player Vs Player</a></li>
            <a href="/pvp1"><img id="image-1" src="/static/pvp.png" alt="Stick people fighting"></a>
        </div>
        <div>
            <li id="right"><a href="/pvc">Player Vs CPU</a></li>
            <a href="/pvc"><img id="image-2" src="/static/cpu.jpeg" alt="stick figure smashing a computer"></a>
        </div>
    </ul>

{% endblock %}
